Support for DHCPv6 Preference Options

DHCPv6 includes a "Preference Option," which it would be nice to have support for.

From RFC 9915 § 21.8: "A server MAY include a Preference option in an Advertise message to control the selection of a server by the client."

It's possible to use `GenericOption`, but it would be much more discoverable with a specific option type, which would also make it easier for the programmer to ensure that the information is encoded correctly.

E.g.,

    reply.AddOption(dhcpv6.OptPreference(255))

I can open a PR with a fix.

Feel free to create a PR